.container {
  display: flex;
  align-items: center;
  height: 50px;
}

.creator {
  width: 150px;
  margin-left: 50px;
  /* background-color: red; */
  text-align: center;
}

.body {
  padding: 20px;
  width: 100%;
  text-align: center;
  /* background-color: yellow; */
}
